# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
env/
.env/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

node_modules/
*.mov
*.mp3
Terminal.mov

# Exceptions pour certains fichiers MP4
!effondrement.mp4
!incendie.mp4 