# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
env/
.env/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

node_modules/
*.mp4
*.mov
*.mp3
Terminal.mov 